{% extends "base.html" %}
{% load materializecss%}

{% block content %}

<div class="row">
    <div class="col s12">
      <div class="card teal white-text">
        <span class="card-title">Reset Password</span>
        <div class="card-content">
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email | materializecss}}</p> 
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
  </form>
          </div>
      </div>
    </div>
</div>

{% endblock %}