{% extends "base.html" %}
{% load materializecss%}
{% block content %}

<div class="row">
    <div class="col s12">
      <div class="card teal">
        <span class="card-title white-text">Reset Password</span>
        <div class="card-content ">
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>

                    <td>{{ form.new_password1|materializecss  }}</td>
                </tr>
                <tr>

                    <td>{{ form.new_password2|materializecss  }}</td>
                </tr>
                <tr>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}