{% load static %}

1  <!doctype html>
2  <html>
3      <head>
4          <meta charset="utf-8">
5          <title>Basic Site Template</title>
6      </head>
7  
8      <body>
9          <h1>{{ title }}</h1>
10         <p>{{ cal }}</p>
11     </body>
12 </html>

{% comment %} <head>
  <title>stayWell</title>
  
  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
</head> {% endcomment %}

