{% comment %} {% extends "base_generic.html" %} {% endcomment %}

<head>
  <title>stayWell</title>
  
  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
</head>

<body>
  <div class="row">
    <div class="col s12">
      <div class="card teal medium">
        <div class="card-content white-text valign center">
          <h1><u>stayWell</u></h1>
          <h3>Development in Progress!</h3>
          <h3>Brought to you by Exponent EECS</h3>
          <div class="card-action">
          <a href="/survey">Survey</a>
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'logout' %}">Logout</a>
          <a href="/signup">Sign Up</a>
          <a href="/admin">Admin Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

{% block content %}
  <p>Logged out!!</p>  
  <a href="{% url 'login'%}">Click here to login again.</a>
{% endblock %}
