{% load materializecss %}

<head>
  <title>stayWell-signup</title>
  
  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
</head>

<body>

  <div class="row">
    <div class="col s12">
      <div class="card teal small">
        <div class="card-content white-text valign center">
            <h5> Sign Up </h5>
          <div class="card-action">
          <a href="/survey">Survey</a>
          <a href="/">Home</a>
          <a href="/admin">Admin Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col s12">
      <div class="card teal">
        <div class="card-content white-text">
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|materializecss }}
    <button type="submit">Save</button>
  </form>
        </div>
      </div>
    </div>
</div>

<style>
   /* label color */
   .input-field label {
     color: #000;
   }
</style>

</body> 