{% extends "base.html" %}
{% load materializecss%}


{% block content %}

{% block javascript %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

<script>
$(document).ready(function(){

  // Initialize materialize data picker
  $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
  $('select').formSelect();

});
</script> 
{% endblock %}

{% comment %} <div class="row">
    <div class="col s12">
      <div class="card teal ">
        <div class="card-content white-text valign center">
          <h5> Health Check Survey </h5>
          <p> User: {{request.user.get_full_name}}</p>
          <p> F#: {{request.user.employee.fNumber}}</p>
          <div class="card-action">
          <a href="/survey">Survey</a>
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'logout' %}">Logout</a>
          <a href="/signup">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
</div> {% endcomment %}

{% comment %} display first question {% endcomment %}
<div class="row">
    <div class="col s12">
      <div class="card teal white-text">
        <span class="card-title">Survey</span>
        <div class="card-content">
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|materializecss }}
    <button type="submit">Save</button>
  </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}