<head>
    <title>stayWell</title>
    {% load static %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript for Materialize CSS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<!-- {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'stayWellCore/style.css' %}"> -->

<body>
<form action=" " method="post">
    {% csrf_token %}
    {% for question in latest_question_list %}
    <!-- if question.choice_type -->
        <li></a>{{ question.question_text }}</a></li>
        {% for choice in question.test %}
        test
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    {% endfor %}
    <input type="submit" value="Submit">
    </form>

</body>

<!-- TODO: Add materialize CSS cards for each -->